@import "./index.css";


/****************************** Main *************************************************/

.main__container {
    flex-wrap: wrap;
}


/******************************* Contenedor de NavBar *******************************/

.contNav {
    position: sticky;
    top: 0;
    z-index: 200;
    width: 100%;
}


/******************************* Busquedas ****************************/


.busquedas {
    position: relative; 
    width: 100%;
    text-align: center;
    height: 75px;
    background-color: rgb(46, 16, 66);
}

.botonBusquedas {
    border: 1px solid var(--color_violeta);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(53, 19, 77);
    height: 40px;
    margin: 0 10px;
}

.campoBusquedas {
    border-radius: 10px;
    width: 400px;
    border-style: none;
    height: 40px;
    background-color: white;
    padding: 5px;
    color: black;
}


/*************************** Categorias ***************************************/


.nav-item {
    margin: 0 10px;
}   

.nav-link {
    font-size: 20px;
    color: rgb(201, 201, 201);
}

.nav-link:hover {
    color: white;
}

.navbar {
    background-color: rgb(59, 20, 87);
    padding: 5px;
    border-top: 1px solid gray;
}


/************************** CartWidget *******************************/

.iconoCarrito {
    margin-left: 60px;
    height: 60px;
    z-index: 300;
}


/***************************** logo ***********************************/


.logo {
    z-index: 100;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.logo__e {
    color: var(--color_naranja);
    font-style: oblique;
    line-height: 0;
}

.logo__hard {
    color: var(--color_celeste);
    line-height: 40px;
}

.logo__computacion {
    color: var(--color_violeta);
    filter: brightness(150%) grayscale(25%);
    font-style: oblique;
    line-height: 0;
    position: absolute;
    font-size: 20px;
    left: 50px;
}


/*************************** Carousel ***********************************/

.imgCarousel {
    max-width: 1920px;
    height: 500px;
    object-fit: cover;
}



/***************************Card detalle Producto ************************/

.cartProducto_detalle {
    max-width: 1000px;
    height: 400px;
    display: grid;
    grid-template-areas: "i d"
                         "i b1"
                         "i b2"; 
    grid-template-columns: 50% 50%;  
    grid-template-rows: 70% 15% 15%;                   
    background-color: white;
    padding: 20px;
    place-items: center;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.imgProducto_detalle {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    object-fit: contain;
    grid-area: i;
}

.contDetalle_producto {
    color: black;
    flex-direction: column;
    grid-area: d;
}

.descProducto_detalle {
    font-size: 25px;
    text-align: center;
}

.botonProducto_detalle {
    grid-area: b1;
    width: 80%;
}

.precioProducto_detalle {
    margin-top: 40px;
    font-size: 50px;
    color: rgb(51, 51, 51);
    font-weight: 700;
}

.boton_c {
    background-color: var(--color_celeste) !important;
    grid-area: b2;
    width: 80%;
}

.imgCarritoEnBoton {
    height: 25px;
    margin-left: 25px;
}   

/************************ Card Producto *********************************/

.cartProducto {
    width: 250px;
    height: 400px;
    border: 1px solid gray;
    color: rgb(34, 34, 34);
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    justify-content: flex-end !important;
}

.imgProducto {
    object-fit: contain;
    height: 50%;
    width: 100%;
}

.descProducto {
    margin: 10px 0;
}

.botonProducto {
    border-style: none;
    border-radius: 5px;
    background-color: var(--color_violeta);
    padding: 7px;
    min-width: 125px;
}

.precioProducto {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}










