@import "./index.css";


/****************************** Main *************************************************/


.main__container {
    flex-wrap: wrap;
    min-height: var(--altura_main);        
    padding: 50px 0;
}


/******************************* Contenedor de NavBar *******************************/

.contNav {
    position: sticky;
    top: 0; 
    z-index: 200;
    width: 100%;
}


/******************************* Busquedas ****************************/


.contBusquedas {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    text-align: center;
    height: fit-content;
    background-color: rgb(46, 16, 66);
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.contBusquedaIcono {
    flex-direction: row;
}

.botonBusquedas {
    border: 1px solid var(--color_violeta);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(53, 19, 77);
    height: 40px;
    margin: 0 10px;
}

.campoBusquedas {
    border-radius: 10px;
    width: 400px;
    border-style: none;
    height: 40px;
    background-color: white;
    padding: 5px;
    color: black;
}

.contVolver {
    text-align: center;
}
.textoVolver {
    color: #404040;
}


/************************** CartWidget *******************************/

.contCarrito {
    position: relative;
    margin-left: 60px;
}

.iconoCarrito_cantidad {
    position: absolute;
    left: 15%;
    color: white;
    font-size: 15px;
    font-weight: 100;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(140, 48, 201, 0.95);
}

.iconoCarrito {
    place-self: left;
    height: 60px;
    z-index: 300;
}


/*************************** Categorias ***************************************/


.nav-item {
    margin: 0 10px;
}   

.nav-link {
    font-size: 20px;
    color: rgb(201, 201, 201);
}

.nav-link:hover {
    color: white;
}

.navbar {
    background-color: rgb(59, 20, 87);
    padding: 5px;
    border-top: 1px solid gray;
}


/************************** Dropdown **********************************/


.dropdown-menu {
    background-color: rgb(59, 20, 87);
}


/***************************** logo ***********************************/


.logo {
    z-index: 100;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.logo__e {
    color: var(--color_naranja);
    font-style: oblique;
    line-height: 0;
    width: 100%;
    text-align: left;
}

.logo__hard {
    color: var(--color_celeste);
    line-height: 40px;
}

.logo__computacion {
    color: var(--color_violeta);
    filter: brightness(150%) grayscale(25%);
    font-style: oblique;
    line-height: 0;
    font-size: 20px;
    width: 100%;
    text-align: right;
        
}


/*************************** Carousel ***********************************/

.imgCarousel {
    max-width: 1920px;
    height: 500px;
    object-fit: cover;
}


/********************************* Card Producto en Carrito ********************/
.main__container__carrito {
    min-height: var(--altura_main);
    flex-direction: column;
    animation-name: carrito;
    animation-duration: 1.5s;
}

@keyframes carrito {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cardProducto_carrito {
    width: 70%;
    height: 200px;
    display: grid;
    grid-template-areas: "i d v c p"
                         "i d v c p";
    grid-template-columns: 20% 40% 10% 15% 15%;
    grid-template-rows: 50% 50%;                   
    background-color: white;
    padding: 10px;
    place-items: center;
    margin: 10px;
    border: 1px solid var(--borde_cards);
    border-radius: 5px;
}

.contDetalle_producto_carrito {
    color: black;
    width: 100%;
    height: 100%;
    grid-area: d;
}

.contCant_carrito {
    grid-area: c;
}

.precioProducto_carrito {
    font-size: 40px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    grid-area: p;
}

.contImg_carrito {
    width: 100%;
    height: 100%;
    grid-area: i;
    position: relative;
}

.imgProducto_carrito {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.descProducto_detalle_carrito {
    text-align: center;
    font-size: 20px;
}

.textoVaciar {
    color: black;
    margin: 0;
    cursor: pointer;
}

.iconoVaciar {
    height: 30%;
    cursor: pointer;
}

.contVaciar {
    grid-area: v;
    width: 100%;
    height: 100%;
    filter: contrast(50%);
}


/***************************Card detalle Producto ************************/

.cartProducto_detalle {
    max-width: 1000px;
    height: 400px;
    display: grid;
    grid-template-areas: "i d"
                         "i s"
                         "i b1"
                         "i b2"; 
    grid-template-columns: 50% 50%;  
    grid-template-rows: 45% 20% 15% 15%;                   
    background-color: white;
    padding: 20px;
    place-items: center;
    margin: 50px;
    border: 1px solid var(--borde_cards);
    border-radius: 5px;
    animation-name: detalleProducto;
    animation-duration: 1.5s;
}
 
@keyframes detalleProducto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.selectCantidad {
    grid-area: s;
}

.imgProducto_detalle {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    object-fit: contain;
}

.contImg_detalle {
    width: 100%;
    height: 100%;
    grid-area: i;
    position: relative;
}

.contDetalle_producto {
    color: black;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: d;
}

.descProducto_detalle {
    font-size: 20px;
    text-align: center;
}

.botonProducto_detalle {
    grid-area: b1;
    width: 80%;
}

.precioProducto_detalle {
    font-size: 40px;
    color: rgb(51, 51, 51);
    font-weight: 700;
}

.boton_c {
    background-color: rgb(72, 153, 219) !important;
    grid-area: b2;
    width: 80%;
}

.contBotonComprar {
    grid-area: b2;
    width: 100%;
}

.imgCarritoEnBoton {
    height: 25px;
    margin-left: 15px;
}   

.botonMasMenos {
    border-style: none;
    border-radius: 25%;
    background-color: rgb(100, 100, 100);
    padding: 7px;
    width: 40px;
    height: 30px;
    margin: 0 10px;
    font-weight: 900;
    font-size: 20px;
}

.inputCantidad {
    background-color: white;
    border-style: none;
    border: 1px solid gray;
    color: black;
    display: inline-block;
    padding: 5px;
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    line-height: normal;
}

.cantidadTxt {
    color: black;
}

.contCantidad {
    grid-area: s
}

.cantidad {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.stock_detalle, .stock_carrito {
    color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(172, 172, 172, 0.75);
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 5px; 
    font-size: 13px;
    width: max-content;
}

/************************ Card Producto *********************************/


.cardProducto {
    width: 250px;
    height: 400px;
    border: 1px solid var(--borde_cards);
    color: rgb(34, 34, 34);
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    justify-content: flex-end !important;
}

.imgProducto {
    object-fit: contain;
    height: 50%;
    width: 100%;
}

.descProducto {
    margin: 10px 0;
}

.botonProducto {
    border-style: none;
    border-radius: 5px;
    background-color: var(--color_violeta);
    padding: 7px;
    min-width: 125px;
}

.precioProducto {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}


/*************************** Footer ********************************************/


.contFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 75px;
    background-color: rgb(33, 11, 48);
}

.contFooter__ul {
    margin-bottom: 0; 
    padding-left: 0;
}

.contFooter__ul__li {
    font-size: 17px;
    font-weight: 100;
    color: rgb(201, 201, 201);
    cursor: pointer;
    margin: 15px;
}

.contFooter__ul__li:hover {
    color: white;
}

.footer__contImg {
    height: 100%;
    width: 100%;
}

.footer_img {
    height: 50px;
    margin: 0 25px;
}

/*NewsLetter*/ 

.botonNewsLetter {
    border-style: none;
    background-color: var(--color_celeste);
    color: black;
    height: 40px;
    margin-left: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.inputNewsLetter {
    border-style: none;
    height: 40px;
    max-width: 300px;
    background-color: white;    
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    color: black;
}

.ofertas {
    height: 10px;
    font-size: 15px;
}


/*************************** Media Querys **************************************/


/***************************Footer ********************************************/


@media only screen and (max-width: 1100px) {
    .contFooter {
        grid-template-columns: unset;
        grid-template-rows: 75px 75px 75px;
    }

    .contFooter__ul {
        justify-content: center;
    }

    .contFooter__ul__li {
        margin: 0 25px;
    }
    
}

@media only screen and (max-width: 490px) {
    .contFooter__ul__li {
        margin: 0 5px;
        font-size: 15px;
    }
}


/*************************** Detalle de Producto *******************************/


@media only screen and (max-width: 600px) {

    .precioProducto_detalle{ 
        margin-top: 0;
    }    

    .cartProducto_detalle {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 50px 15px;
        height: fit-content;
    }

    .botonProducto_detalle, .boton_c {
        margin: 5px 0;
    }

    .precioProducto_detalle {
        font-size: 25px;
    }

    .descProducto_detalle {
        font-size: 16px;
    }

    .imgProducto_detalle {
        margin-right: 0;
        height: 250px;
    }

    .contImg_detalle {
        height: 100%;
    }

    .contDetalle_producto {
        justify-content: center;
    }

    .carousel {
        display: none;
    }
}


@media only screen and (max-width: 320px) {
    .imgCarritoEnBoton {
        display: none;
    }
}


/**************************** Sección busquedas - Carrito y Logo ************************/


@media only screen and (max-width: 1080px) {
    
    .contBusquedas {
        grid-template-rows: 50% 50%;
        grid-template-columns: unset;
        place-items: center;
    }

    .logo {
        margin-bottom: 15px;
    }

    .contCarrito {
        margin-left: 20px;
    }

}


@media only screen and (max-width: 600px) {

    .campoBusquedas {
        width: 70%;
        margin-left: 10px;
    }

    .contCarrito {
        margin-right: 10px;
    }

}


/*********************************** Carrito ***************************************************/


@media only screen and (max-width: 1400px) {
    .cardProducto_carrito {
        width: 95%;
        grid-template-columns: repeat(5, fit-content);
    }

    .precioProducto_carrito {
        font-size: 30px;
    }
} 

@media only screen and (max-width: 1000px) { 
    .cardProducto_carrito { 
        grid-template-areas: "i d d d"
                             "i v c p";
        grid-template-columns: minmax(200px, auto) 1fr 1fr 1fr;        
        grid-template-rows: fit-content fit-content;     
       
    }  

    .iconoVaciar {
        height: 40%;
    }
}

@media only screen and (max-width: 600px) { 
    .cardProducto_carrito { 
        max-width: 300px;
        height: fit-content;
        grid-template-areas: "i i"
                             "d d"
                             "v v"
                             "c c"   
                             "p p";
        grid-template-columns: repeat(2, 1fr);        
        grid-template-rows: 200px 50px 80px 50px;     
       
    }  

    .descProducto_detalle_carrito {
        font-size: 15px;
    }
}




