:root {
    --color_violeta: rgb(176, 64, 199);
    --color_naranja: rgb(255, 123, 0);
    --color_celeste: rgb(72, 153, 219);
    --color_back1: rgb(240, 240, 240);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

body {
    background-color: var(--color_back1);
}