:root {
    --color_violeta: rgb(176, 64, 199);
    --color_naranja: rgb(255, 123, 0);
    --color_celeste: #47c8da;
    --color_back1: rgb(240, 240, 240);
    --altura_main: calc(100vh - 137px - 75px);                /* 137px es la altura del navbar - 75px es la altura del footer*/
    --borde_cards: rgb(189, 189, 189);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

body {
    background-color: var(--color_back1);
}